<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YSMediaButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>548E0FFE1ECF5A4600ABD535</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>548E10171ECF5A4600ABD535</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>548E10221ECF5A4600ABD535</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
